include README.md
include README.rst
include LICENSE
recursive-include cme/data *
recursive-include cme/modules *
recursive-include cme/thirdparty *
prune cme/thirdparty/impacket/impacket/testcases
prune cme/thirdparty/impacket/examples
prune cme/thirdparty/pywinrm/winrm/tests
prune cme/thirdparty/pywinrm/scripts
prune cme/data/powersploit/Tests
prune cme/data/powersploit/CodeExecution/Invoke-ReflectivePEInjection_Resources
prune cme/data/powersploit/Exfiltration/LogonUser
prune cme/data/powersploit/Exfiltration/NTFSParser
prune cme/data/powersploit/Recon/Dictionaries
prune cme/data/invoke-vnc/vncdll
prune cme/data/invoke-vnc/winvnc
prune cme/data/invoke-vnc/ReflectiveDLLInjection
recursive-exclude cme/data/invoke-vnc *.py *.bat *.msbuild *.sln pebytes.ps1
prune cme/data/netripper/DLL
prune cme/data/netripper/Metasploit
prune cme/data/netripper/NetRipper
prune cme/data/netripper/Release
prune cme/data/netripper/Win32
prune cme/data/netripper/minhook
prune cme/data/netripper/x64
recursive-exclude cme/data/netripper *.pdf *.sln