[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pycryptodomex = "*"
pyasn1 = "*"
gevent = "*"
requests = "*"
requests-ntlm = "*"
bs4 = "*"
netaddr = "*"
pyopenssl = "*"
termcolor = "*"
msgpack-python = "*"
pylnk = "*"
splinter = "*"
paramiko = "*"
xmltodict = "*"
six = "*"
terminaltables = "*"

[requires]
python_version = "2.7"
