[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
shiv = "*"

[packages]
gevent = "*"
requests = "*"
requests-ntlm = "*"
bs4 = "*"
termcolor = "*"
msgpack = "*"
pylnk3 = "*"
paramiko = "*"
pypsrp = "*"
xmltodict = "*"
terminaltables = "*"
impacket = "*"